{% extends 'base.html' %}
{% block head %}
<title>Picture locator</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Picture locator</h1>
    {% if filename|length < 1 %}
    <h4 style="text-align: center">Please upload some pictures</h4>

    {% else %}
    <div class="text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Coordinates</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ filename }} </td>
                            <td> {{ location }}</td>
                            <td> {{ coords }}</td>
                            <td>
                                <a href="/">Home</a>
                                <br>
                                <a href="/show" target="_blank">Show on map</a>
                            </td>

                        </tr>
                    </tbody>
                </table>

    </div>
    {% endif %}
    <br>
    <div class="d-flex justify-content-center align-items-center container ">
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon03">Upload</button>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                    <label class="custom-file-label" for="inputGroupFile03">Choose a file</label>
                </div>
            </div>


        </form>
    </div>

<!--    <br>-->
<!--    <div class="d-flex justify-content-center align-items-center container ">-->
<!--        <p>-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4291.762933560182!2d14.55022888643752!3d53.42621008359463!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aa091195a47fc5%3A0x596c8c68ba43837e!2sGaleria%20Kaskada!5e0!3m2!1sen!2spl!4v1591869545958!5m2!1sen!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->

<!--        </p>-->
<!--    </div>-->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3 class="text-center">{{ message }}</h3>
            {% endfor %}
            {% endif %}
    {% endwith %}



</div>



{% endblock %}

